<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>local.on-system-login</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-lic</string>
        <string>"on-system-login"</string>
    </array>
    <key>StandardOutPath</key>
    <string>/tmp/launchd.local.on-system-login.stdout</string>
    <key>StandardErrorPath</key>
    <string>/tmp/launchd.local.on-system-login.stderr</string>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
