<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>local.internet-off</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-lic</string>
        <string>"internet-off"</string>
    </array>
    <key>StandardOutPath</key>
    <string>/tmp/launchd.local.internet-off.stdout</string>
    <key>StandardErrorPath</key>
    <string>/tmp/launchd.local.internet-off.stderr</string>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>22</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
</dict>
</plist>